.homepage{
    background-color: var(--grey);
    height: 45rem;
    width: 105%;
   position: relative;
   
   
   

}
.container1{
    margin-top: 4rem;
    position: absolute;
}
.heading1{
    font-size: 2.8rem;
    color: var(--black);
    font-weight: 500;
    margin-left: 4rem;
    margin-top: 2rem;
}
.img1{
    transform: scale(0.65);
    position: relative;
    margin-left: 54rem;
    margin-top: -14rem;
    border-radius: 3rem;
   
    
}

.button1{
    position: relative;
    left: -23rem;
    top: -38.6rem;
    
}
