.footer{
    background-color: var(--grey);
    height: 45rem;
    margin-top: -5rem;
    width: 105%;
    
}

.footerheading{
    margin-left: 22rem;
    position: absolute;
    margin-top: 10rem;

}
.footerheading2{
    margin-left: 22rem;
    position: absolute;
    margin-top: 20rem;
}
.img3{
    transform: scale(0.7);
    position: absolute;
    margin-top: 12rem;
    border-radius: 1rem;
    height: 25rem;
    margin-left: 2rem;
    
    

}
.img4{
    transform: scale(0.7);
    margin-left: 62rem;
    margin-top: 12.1rem;
    border-radius: 2rem;
    height: 25rem;
   
    


}
